<div class="vizob-drive">
    <div id="viz">
        <div class="viz_bottom_bar shown">

            <ul class="drive-navigation">
                <li class="list-item brand">
                    <a href="#/projects/prototypes">Return to Prototypes</a>
                </li>
                <li class="list-item">
                    <a  href="#">Study Name</a>
                </li>
                <li class="list-item screen" >
                    <a href="#">Current Content</a>
                </li>
            </ul>

            <div class="console-modes">

                <ul>
                    <li class="list-item preview-mode active">
                        <a href="javascript:void(0)">Enter Preview Mode</a>
                    </li>
                    <li class="list-item build-mode">
                        <a href="javascript:void(0)">Enter Build Mode</a>
                    </li>
                    <li class="list-item comment-mode">
                        <a href="javascript:void(0)">Enter Comment Mode</a>
                    </li>
                    <li class="list-item stats-mode">
                        <a href="javascript:void(0)">Enter Stats Mode</a>
                    </li>
                </ul>

            </div>
            <ul class="drive-navigation settings">

                <li class="list-item social-share">
                    <a>Share</a>
                </li>
            </ul>

        </div>
        <div class="build-mode-container">

        </div>
    </div>
</div>