<div class="epi-project-selector-list epi-menu--inverted">
    <div class="epi-menuInverted epi-invertedTooltip">
        <div class="epi-tooltipDialogTop">
            <span data-dojo-attach-point="headerNode"></span><div class="dijitTooltipConnector"></div>
        </div>
        <div data-dojo-type="dijit/Toolbar"
             data-dojo-attach-point="toolbar"
             class="epi-flatToolbar epi-project-selector-list__toolbar">
            <div data-dojo-attach-point="toolbarGroupNode" class="epi-floatRight"></div>
        </div>
        <button class="epi-chromeless epi-project-selector-list__default-option" data-dojo-attach-point="defaultOption" data-dojo-type="dijit/form/ToggleButton"></button>
        <div data-dojo-attach-point="separatorNode" class="epi-project-selector-list__separator dijitHidden"></div>
        <div data-dojo-attach-point="listNode"></div>
    </div>
</div>
