<!--
EPiServer Shell Package file

This file is used for:
  a) Compressing and combining scripts into packages at build time
  b) Used as a reference when running Framework with <clientResources debug=true />
  
 Two different types of packages are supported: js and css. Overlays can be used to combine a package
 with overrides into a new package (use semicolon-separated string to defined multiple overlays).
-->
<packages>

  <!-- DojoDashboardCompatibility: widgets and styles included in the dojo dashboard for compatibility with gadgets made for CMS 6-->
  <js name="DojoDashboardCompatibility">
    <import url="EPiJQuery.js" />
    <import url="EPi/Shell/Shell.js" />
    <import url="EPi/Widgets/GlobalNavigation/GlobalNavigation.js" />
    <import url="EPi/Views/Search/Search.js" />
    <import url="EPi/Widgets/ContextMenu/ContextMenu.js" />

    <!-- these references should be included by the gadgets needing them -->
    <import url="EPi/Widgets/Validate/jquery-1.5.5.validate.js" />
    <import url="EPi/Widgets/Validate/jquery.validate.localization.js" />
    <import url="EPi/Widgets/Validate/jquery.validate.custom.js" />
    <import url="EPi/Widgets/ToolTip/ToolTip.js" />
    <import url="EPi/Widgets/DatePicker/ui.datepicker.js" />
    <import url="EPi/Widgets/DatePicker/ui.datepicker.localization.js" />
    <import url="EPi/Widgets/DateRange/ui.daterange.js" />
    <import url="EPi/Widgets/Autoupdate/Autoupdate.js" />

    <!-- used by quick links -->
    <import url="EPi/Widgets/CollapsiblePanel/CollapsiblePanel.js" />
  </js>

  <css name="empty">
    <import url="EPi/Shell/Shell.css" />
  </css>
  
  
  <!-- ShellCore: Minimum shell functionality (jQuery, Shell menu etc.)-->
  <js name="ShellCore">
    <import url="EPiJQuery.js" />
    <import url="EPi/Shell/Shell.js" />
    <import url="EPi/Widgets/TabView/TabView.js" />
    <import url="EPi/Widgets/DropDownMenu/dropdownmenu.js" />
    <import url="EPi/routes.js" />
  </js>

  
  <!-- ShellWidgets: UI widgets used in the CMS 6 dashboard -->
  <js name="ShellWidgets">
    <import url="EPi/Error/Error.js" />
    <import url="EPi/Widgets/ContextMenu/ContextMenu.js" />
    <import url="EPi/Widgets/GlobalNavigation/GlobalNavigation.js" />
    <import url="EPi/Widgets/ItemList/ItemList.js" />
    <import url="EPi/Widgets/FoldOutPanel/FoldOutPanel.js" />
    <import url="EPi/Widgets/Pager/Pager.js" />
    <import url="EPi/Widgets/Dialog/Dialog.js" />
    <import url="EPi/Widgets/ToolTip/ToolTip.js" />
    <import url="EPi/Widgets/CollapsiblePanel/CollapsiblePanel.js" />
    <import url="EPi/Widgets/Validate/jquery-1.5.5.validate.js" />
    <import url="EPi/Widgets/Validate/jquery.validate.localization.js" />
    <import url="EPi/Widgets/Validate/jquery.validate.custom.js" />
    <import url="EPi/Widgets/DatePicker/ui.datepicker.js" />
    <import url="EPi/Widgets/DatePicker/ui.datepicker.localization.js" />
    <import url="EPi/Widgets/DateRange/ui.daterange.js" />
    <import url="EPi/Views/Search/Search.js" />
  </js>

  <!-- The following declarations are duplicates for backward compatibility with EPiServer CMS 6 -->
  <js name="Shell" overlays="-rtl">
    <import url="EPiJQuery.js" />
    <import url="EPi/Shell/Shell.js" />
    <import url="EPi/Widgets/TabView/TabView.js" />
    <import url="EPi/Widgets/DropDownMenu/dropdownmenu.js" />
    <import url="EPi/Error/Error.js" />
    <import url="EPi/Widgets/ContextMenu/ContextMenu.js" />
    <import url="EPi/Widgets/GlobalNavigation/GlobalNavigation.js" />
    <import url="EPi/Widgets/ItemList/ItemList.js" />
    <import url="EPi/Widgets/FoldOutPanel/FoldOutPanel.js" />
    <import url="EPi/Widgets/Pager/Pager.js" />
    <import url="EPi/Widgets/Dialog/Dialog.js" />
    <import url="EPi/Widgets/ToolTip/ToolTip.js" />
    <import url="EPi/Widgets/CollapsiblePanel/CollapsiblePanel.js" />
    <import url="EPi/Widgets/Validate/jquery-1.5.5.validate.js" />
    <import url="EPi/Widgets/Validate/jquery.validate.localization.js" />
    <import url="EPi/Widgets/Validate/jquery.validate.custom.js" />
    <import url="EPi/Widgets/DatePicker/ui.datepicker.js" />
    <import url="EPi/Widgets/DatePicker/ui.datepicker.localization.js" />
    <import url="EPi/Widgets/DateRange/ui.daterange.js" />
    <import url="EPi/Views/Search/Search.js" />
    <import url="EPi/Error/ShellObsolete.js" />
  </js>
  
  <js name="ShellLightTheme" overlays="-rtl">
    <import url="EPi/Error/ShellLightThemeObsolete.js" />
  </js>

</packages>
