<div class="epi-form">
    <ul class="dijitReset" data-dojo-attach-point="containerNode">
        <li>${resources.loggedout}</li>
        <li>
            <label>${resources.username}</label>
            <input data-dojo-type="dijit/form/ValidationTextBox" required="true" data-dojo-attach-point="usernameNode" name="username" />
        </li>
        <li>
            <label>${resources.password}</label>
            <input data-dojo-type="dijit/form/ValidationTextBox" required="true" data-dojo-attach-point="passwordNode" name="password" type="password" />
        </li>
    </ul>
</div>
