<?xml version="1.0" encoding="utf-8" ?>
<module>
  <clientResources>
    <add dependency="epi-cms.widgets.base" path="study/_studyView.js" resourceType="Script"  />
  </clientResources>

  <clientModule initializer="study._studyView">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
  <paths>
    <add name="vizob-epi-cms" path="ClientResources" />
  </paths>
  </dojo>

  <!--<clientResources>
    <add name="epi-cms.widgets.base" path="study/css/style.css" resourceType="Style">
    </add>
  </clientResources>-->
</module>