<div class="epi-notification-list epi-menu--inverted">
    <div class="epi-menuInverted epi-invertedTooltip">
        <div class="epi-tooltipDialogTop">
            <span data-dojo-attach-point="headerNode">${res.header}</span>
            <div class="dijitTooltipConnector"></div>
        </div>
        <div data-dojo-type="dijit/Toolbar"
             data-dojo-attach-point="toolbar"
             class="epi-flatToolbar">
            <div data-dojo-attach-point="toolbarGroupNode" class="epi-floatRight"></div>
        </div>
        <div data-dojo-attach-point="listNode"></div>
    </div>
</div>
