<?xml version="1.0"?>
<configuration>
  <system.web>

    <compilation defaultLanguage="c#" debug="true" optimizeCompilations="true">
      <assemblies>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.WebPages" />
        <add namespace="EPiServer.Shell.Web.Mvc.Html"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--<remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler"/>-->
    </handlers>
  </system.webServer>
</configuration>
