<?xml version="1.0" encoding="utf-8" ?>
<module>
  <clientResources>
    <add dependency="epi-cms.widgets.base" path="scripts/commandsInitializer.js" resourceType="Script"  />
  </clientResources>

  <clientModule initializer="drive.scripts.commandsInitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
  <paths>
    <add name="Drive" path="scripts" />
  </paths>
  </dojo>

  <clientResources>
    <add name="epi-cms.widgets.base" path="css/drive.css" resourceType="Style">
    </add>
  </clientResources>
</module>